.about {
  padding: 6rem 2rem;
  width: 100%;
  margin: auto;
  color: #e4d7ff;

  border-top: 1px solid rgba(168, 85, 247, 0.15);
  /* border-bottom: 1px solid rgba(168, 85, 247, 0.15); */

  /* solid background 
  background: #0f0a1e; */
  background: #1a1333;

  /* biar transisi halus saat hover */
  transition: 0.3s ease;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #8440c3, #cbb8ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 1.5rem;
  text-align: center;
}

.text {
  font-size: 1.1rem;
  color: #cbb8ff;
  line-height: 1.7;
  
  margin: 0 auto 1rem auto; /* center horizontal */
  text-align: center;
  max-width: 70%; /* use percent supaya di many device rapih */
}

.about:hover {
  text-shadow: 0 0 25px rgba(168, 85, 247, 0.25);
  transition: 0.3s ease;
}
