.hero {
  height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background: radial-gradient(circle at top, #241445, #0f0a1e); */
  background: linear-gradient(to bottom, #0f0a1e, #1a1333);
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #e4d7ff;
}

.highlight {
  background: linear-gradient(90deg, #a855f7, #6d28d9);
  background-clip: text;          /* ← standar */
  -webkit-background-clip: text;   /* ← Safari & Chrome lama */
  color: transparent;
}

.subtitle {
  font-size: 1.2rem;
  color: #bfa7ff;
  margin-top: 1rem;
}

.button {
  margin: 2.5rem auto 0;
  padding: 0.8rem 2rem;
  background: #6d28d9;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
  box-shadow: 0 0 15px rgba(168, 85, 247, 0.4);
}

.button:hover {
  background: #a855f7;
  box-shadow: 0 0 25px rgba(168, 85, 247, 0.6);
}