.container {
  padding: 80px 20px; 
  max-width: 1100px;
  margin: auto;
  color: #d7c9ff;
}

.headerSection {
  text-align: center;
  margin-bottom: 60px;
}

.title {
  font-size: 2.6rem;
  color: #c4b5ff;
  letter-spacing: 0.5px;
}

.counter {
  opacity: 0.6;
  margin-left: 4px;
  font-size: 0.8rem;
}

.subtitle {
  color: #a592ff;
  margin-top: 10px;
  font-size: 1.1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

/* Tabs */
.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
  margin-bottom: 50px;
}

.tabButton {
  padding: 8px 18px;
  background-color: #241d4d;
  border: 1px solid #4b39a6;
  border-radius: 20px;
  color: #c7b4ff;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 0.9rem;
}

.tabButton:hover {
  background-color: #2c2460;
}

.activeTab {
  background-color: #a988ff;
  color: #1a1333;
  font-weight: bold;
}

/* Project Card */
.grid {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  background: #241d4d;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #4b39a6;
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #a988ff;
}

.projectTitle {
  font-size: 1.2rem;
  color: #d8c6ff;
  margin-bottom: 8px;
}

.meta {
  font-size: 0.8rem;
  color: #b8a2ff;
  margin-bottom: 10px;
}

.techStack {
  margin-top: 10px;
  font-size: 0.75rem;
  color: #a592ff;
}